@model Group2_iCare.Models.GeoCodes

@using (Html.BeginForm("iCAREBoardResult", "iCAREBoard", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <div class="form-horizontal">
        <h4>GeoCode Selection</h4>
        <hr />

        <div class="form-group">
            <label asp-for="GeoCodeId" class="col-md-2 control-label"></label>
            <p></p>
            <div class="col-md-10">
                @Html.DropDownList("ID", ViewBag.GeoCodeList as List<SelectListItem>, "Select a GeoCode", new { @class = "form-control" })
            </div>
        </div>
        <p></p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-outline-primary" />
                    @Html.ActionLink("Back to Worker Dashboard", "Index", "WorkerDashboard", null, new { @class = "btn btn-outline-danger" })

            </div>
        </div>
    </div>
}

<div>
    <p></p>
</div>
