
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 500px;
}

main {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 350px;
    align-content: center;
    justify-content: center;
}

.title-1 {
    font-size: 5vmax;
    font-weight: bolder;
}
.title-2 {
    font-size: 1.5vmax;
}

.team-btn {
    margin-top: 20px;
    border-radius: 20px;
    width: 220px;
    background: linear-gradient(to right, #ff4a4a, #e20059); /* Change colors as needed */
    border: 0px;
    margin-left: 10px;
    height: 45px;
    align-content: center;
    transition: 0.5s ease-in-out; /* Specify the background property */
}

.team-btn:hover {
    background-position-x: 220px;
}

.gradient-background {
    background: linear-gradient(45deg, #ff4a4a, #e20059); /* Change colors as needed */
    padding-block: 100px;
    color: white;
    font-size: 2vmax;
    padding-inline: 100px;
    font-weight: bold;
    text-align: center;
    align-content: center;
}

.body {

}

.back-img {
    position: absolute;
    object-fit: cover;
    z-index: -1;
    top: 100px;
    left: 0;
    width: 100%;
    height: 500px;
}

.features-container {
    padding-top: 50px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;


}

.features-container > h1 {
    font-weight: bold;
    margin-bottom: 50px;
}

.cards-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.feature-card {
    border-radius: 10px;
    border: 0;
}

.card-btn {
    border-radius: 20px;
    width: 120px;
    background: linear-gradient(34deg, #ff4a4a, #e20059);
    border: 0px;
    margin-left: 10px;
    height: 40px;
    align-content: center;
    transition: 0.5s ease-in-out; /* Specify the background property */
}

    .card-btn:hover {
        background-position-x: 150px;
    }