@{
    ViewBag.Title = "About iCARE";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>Yes, iCARE is basically the best thing since sliced bread!</h3>

    <p>iCARE allows healthcare professionals to take charge of their documentaion.</p>
    <p>Workers can login, view patients, assign patients, view documents, and much more!</p>
</main>