
@{

    ViewBag.Title = "Contact Us";

}

<main aria-labelledby="title">
    <h1 class="text-white" id="title">@ViewBag.Title</h1>
    <h3>Group2 Emails</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Seth Ek</td>
                <td>sgebm6@mail.missouri.edu</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Seth Keenan</td>
                <td>sjkgfr@umsystem.edu</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Jake Morgan</td>
                <td>jkmh3n@umsystem.edu</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</main>