@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h1 id="title">@ViewBag.Title</h1>
    <h3>Group2 Emails</h3>
    <address>
        <strong>Seth Ek: </strong><a href="mailto:sgebm6@mail.missouri.edu">sgebm6@mail.missouri.edu</a><br />
    </address>
</main>