@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>iCARE</h1>
    <p class="lead">iCARE is a healthcare management application.</p>


</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("UserAuthentication", "LoginForm", "UserAuthentication")</h2>
        <p>
            Login
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("iCAREUsers", "Index", "iCAREUsers")</h2>
        <p>
            Edit iCAREUsers
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("UserPasswords", "Index", "UserPasswords")</h2>
        <p>
            Edit UserPasswords
        </p>
    </div>
    @*<div class="col-md-4">
            <h2>@Html.ActionLink("iCAREUsers", "Index", "iCAREUsers")</h2> TEMPLATE FOR ADDING MORE LINKS TO VIEWS FROM HOME
            <p>
                Login to iCARE.
            </p>
        </div>*@
</div>