@model (IEnumerable<Group2_iCare.Models.DocumentMetadata>, IEnumerable<Group2_iCare.Models.Files>)

@{
    ViewBag.Title = "Index";
}

<h1>Display Palette</h1>
<hr />

<div class="d-flex align-items-center justify-content-between">
    @Html.ActionLink(
        "View Palette",
        "View",
        null,
        new { @class = "btn btn-outline-danger" }
    )

    @Html.ActionLink(
        "Manage Documents",
        "Index",
        "Documents",
        null,
        new { @class = "btn btn-outline-danger" }
    )

    @Html.ActionLink(
        "Back to Dashboard", 
        "Index", 
        "WorkerDashboard", 
        null, 
        new { @class = "btn btn-outline-danger" }
    )

</div>
<hr />
