@{
    ViewBag.Title = "BrowseFiles";
}

<h2>File Upload</h2>

<div class="">
    <form action="/ImportImage/Upload" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label" for="file"></label>
            <input class="form-control" type="file" id="file" name="file" />
        </div>
        <input type="hidden" name="PatientRecordID" value="@ViewBag.PatientRecordID" />
        <div class="mb-3">
            <button class="btn btn-success" type="submit">Submit</button>
            <button class="btn btn-danger" type="button" onclick="location.href='@Url.Action("Index", "ImportImage", new { PatientRecordID = ViewBag.PatientRecordID })'">Back to Import Image</button>

        </div>
    </form>
</div>