@{
    ViewBag.Title = "BrowseFiles";
}

<h2>BrowseFiles</h2>

<form action="/ImportImage/Upload" method="post" enctype="multipart/form-data">
    <div>
        <label for="file">Choose file to upload:</label>
        <input type="file" id="file" name="file" />
    </div>
    <input type="hidden" name="PatientRecordID" value="@ViewBag.PatientRecordID" />
    <div>
        <button type="submit">Submit</button>
    </div>
</form>


<div>
    <button type="button" onclick="location.href='@Url.Action("Index", "ImportImage", new { PatientRecordID = ViewBag.PatientRecordID })'">Back to Import Image</button>
</div>
