
@{
    ViewBag.Title = "Scanner";
}

<h2>Scanner</h2>

<form action="/ImportImage/Upload" method="post" enctype="multipart/form-data">
    <div>
        <label for="file">Choose file to upload:</label>
        <input type="file" id="file" name="file" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
    <div>
        @Html.ActionLink("Back to Import Image", "Index", "ImportImage")
    </div>
</form>