@{
    ViewBag.Title = "Show Uploaded File";
}

<h2 class="mb-3">Uploaded File</h2>

<div class="mb-3">
    <iframe src="@ViewBag.FilePath" width="100%" height="600px"></iframe>
</div>

<div>
    @Html.ActionLink("Back", "Index", new { PatientRecordID = ViewBag.PatientRecordID }, new {@class = "btn btn-danger"})
</div>
